<div class="container">
  <h1>Welcome Angular Day 3</h1>
  <!-- <app-actorlist></app-actorlist> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-pipedemo></app-pipedemo> -->
  <!-- <app-observabledemo></app-observabledemo> -->
  <!-- <app-postdemo></app-postdemo> -->

  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipe Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts" routerLinkActive="active">REST Api Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/abcd" routerLinkActive="active">Not Found</a>
      </li>
    </ul>

    <div>
      <router-outlet></router-outlet>
    </div>

</div>
